.profile {
  width: 100%;
  margin: 0 auto;
  padding: 1em 2em;

  @media (max-width: $mantine-breakpoint-xs) {
    padding: 1em 0;
  }
}

.navbar {
  height: 100vh;
  max-width: rem(200px);
  padding: var(--mantine-spacing-md);
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: sticky;
  top: rem(60px);
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: column;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-inline: rem(5);
  }
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  @media (min-width: $mantine-breakpoint-xs) {
    padding-inline: 20px;
  }

  justify-content: center;
  gap: 0px;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    padding: rem(5) rem(7);
    margin-bottom: rem(10);
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  width: rem(25px);
  height: rem(25px);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(20px);
    height: rem(20px);
  }
}

.avatar {
  @media (max-width: $mantine-breakpoint-md) {
    width: rem(20px);
    height: rem(20px);
  }
}

.icon {
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.title,
.notfound {
  text-align: left;
  margin-block: 1em;

  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }
}
