.shop {
  margin: 0 auto;
  padding: 30px;
}

.heading {
  margin-bottom: rem(15px);

  &:is(h2) {
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: var(--mantine-font-size-xl);
      line-height: var(--mantine-line-height-xl);
    }
  }

  &:is(h3) {
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: var(--mantine-font-size-lg);
      line-height: var(--mantine-line-height-md);
    }
  }
}
