.shop {
  width: 100%;
  margin: 0 auto;
  padding: 2em;

  @media (max-width: $mantine-breakpoint-xs) {
    padding: 1em 0;
  }
}

.title {
  text-align: left;

  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }
}
