.image {
  border: 2px solid var(--mantine-color-default-border);
}

.image-active {
  border: 2px solid var(--mantine-color-coyote-blue-filled);
}

.image-uncropped {
  object-fit: contain !important;
}

.image-cropped {
  object-fit: cover !important;
}

.button {
  position: absolute;
  z-index: 1;
  margin: rem(10px);
}
