.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.container {
  padding-block: rem(10px);
  justify-content: center;
}

.controls {
  top: calc(40% - var(--carousel-control-size) / 2);
  transition: opacity 150ms ease;
  opacity: 0;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}
