.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}
