.root {
  background-color: #11284b;
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: linear-gradient(250deg, rgba(130, 201, 30, 0) 50%, #00a2ff 120%),
    url(https://images.unsplash.com/photo-1550828486-68812fa3f966?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }
}

.title {
  color: var(--mantine-color-white);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.05;
  max-width: rem(500px);
  font-size: rem(48px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: rem(34px);
    line-height: 1.15;
  }
}

.description {
  color: var(--mantine-color-white);
  opacity: 0.75;
  max-width: rem(500px);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}

.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(22px);

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

/* .inner {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--mantine-spacing-xl) * 4);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  }
  
  .content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);
  
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
    }
  }
  
  .control {
    @media (max-width: $mantine-breakpoint-xs) {
      flex: 1;
    }
  }
  
  .image {
    width: rem(376px);
    height: rem(356px);
  
    @media (max-width: $mantine-breakpoint-md) {
      display: none;
    }
  }
  
  .highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
  } */