.root {
  display: flex;
  gap: var(--mantine-spacing-xs);
  margin: 0;
  align-items: center;
}

.img {
  margin-top: 2px;
  width: 30px;
  height: auto;
}

.text {
  font-size: rem(20px);
  font-family: 'Orbitron';
  font-weight: 900;
  line-height: 1;
}

.text-group {
  gap: 2px;
}
