.wrapper {
  padding: 5px 0;
  margin: 0;
}

.wrapper-flex {
  gap: var(--mantine-spacing-xs);
  align-items: center;
}

.img {
  width: 30px;
  height: auto;
}

.text {
  font-size: rem(20px);
  font-family: 'Orbitron';
  font-weight: 900;
  line-height: 1;
}
