.wrapper {
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background-color: var(--mantine-primary-color-light);

  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: var(--mantine-spacing-md);
}

/* Button Styles */

.button {
  height: inherit;
  padding: 0;
  font-size: var(--mantine-h3-font-size);
  font-weight: 400;
  letter-spacing: 0px;

  &:not([data-disabled]) {
    @mixin light {
      color: var(--mantine-color-dark-3);
    }

    &:hover {
      @mixin light {
        color: var(--mantine-color-dark-filled-color);
      }
    }

    &:active {
      @mixin light {
        color: var(--mantine-color-dark-3);
      }
    }

    /* Button Hover - Border Animation */

    &::before {
      content: '';
      width: 0%;
      height: 3px;
      background-color: var(--mantine-primary-color-filled);
      display: block;
      transition: width 0.1s ease-in;
      position: absolute;
      bottom: 0px;
    }

    &:hover::before {
      width: 100%;
    }

    &:active::before {
      background-color: var(--mantine-color-coyote-blue-2);
    }
  }

  &:disabled,
  &[data-disabled] {
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    background-color: transparent;
  }
}

/* Button-Row Styles */

.button-row {
  height: 50px;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
  align-self: flex-end;
}

.button-row-left {
  flex: 1;
  min-width: 20rem;
  max-width: 25rem;
}

.button-row-right {
  flex: 1;
  min-width: 10rem;
  max-width: 18rem;
}

/* Searchbar Styles for Header */

.search-bar {
  align-self: center;
}
