.card {
  margin: auto 0 rem(35px);

  @media (max-width: $mantine-breakpoint-sm) {
    min-width: rem(170px);
    max-width: rem(220px);
    padding: var(--mantine-spacing-sm);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    min-width: rem(221px);
    max-width: rem(300px);
    padding: var(--mantine-spacing-md);
  }
}

.card-banner {
  background-color: rgba(0, 0, 0, 0.1);
}

.card-banner-img {
  margin: 0 auto;
}

/*** CARD CONTENT ***/

.card-content {
  gap: var(--mantine-spacing-xs);
}

.card-content-upper {
  margin-top: var(--mantine-spacing-sm);
  gap: var(--mantine-spacing-xs);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card-content-upper-title {
  font-weight: 500;
  flex: 1;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
    line-height: var(--mantine-line-height-sm);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-lg);
    line-height: var(--mantine-line-height-lg);
  }
}

.card-content-upper-price {
  margin-top: rem(3px);
}

/* Description Text */
.card-content-body {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-xs);
    line-height: var(--mantine-line-height-xs);
    margin-top: 0;
    margin-bottom: var(--mantine-spacing-xs);
  }

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-sm);
    line-height: var(--mantine-line-height-sm);
    margin-top: var(--mantine-spacing-xs);
    margin-bottom: var(--mantine-spacing-md);
  }
}
