.root {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-container {
  flex-basis: 420px;
  padding: rem(20px);
  margin-bottom: rem(15vh);
}
