.root {
  /* Keeps footer at bottom of viewport */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1; /* Keeps footer at bottom of viewport */

  /* 
     If needed: set height: 100%
     or h='100%' prop to root of
     <Outlet> components to fill
     remaining vertical space

     e.g. About.tsx, Login.tsx
  */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.outlet {
  min-width: 320px;
  max-width: 100vw;
}
