p.description {
  margin-bottom: var(--mantine-spacing-xs);
}

p:empty::before {
  content: '';
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.description {
    margin-top: 0px;
    margin-bottom: var(--mantine-spacing-xs);
  }
}
